@use "./reset.scss";

:root {
  // Colors
  --pale-violet: hsl(276, 100%, 81%);
  --chat-left-color: hsl(276, 55%, 52%);
  --chat-right-color-accent: 271, 15%, 43%;
  --chat-right-color: hsl(var(--chat-right-color-accent));
  --placeholder-text-color: hsl(206, 6%, 79%);
  --main-heading-color: hsl(271, 36%, 24%);
  --paragraph-color: hsl(270, 7%, 64%);
  --chat-clr-accent: 274, 37%, 93%;
  --chat-clr: hsl(var(--chat-clr-accent));
  --white: hsl(0, 0%, 100%);
  --app-background: hsl(270, 20%, 96%);
  --submit-button: hsl(271, 36%, 24%);
  --radio-button-outline: hsl(289, 100%, 72%);

  // Linear Gradient
  --linear-start: hsl(264, 100%, 61%);
  --linear-end: hsl(293, 100%, 63%);

  // Fonts
  --font-rubik: "Rubik", sans-serif;
  --fw-500: 500;
  --fw-700: 700;

  // Width
  --max-width: 1100px;
}

body {
  font-family: var(--font-rubik);
  font-size: 1rem;

  min-height: 100vh;

  background-color: var(--app-background);

  padding: 3rem 1.875rem;
}

.line {
  display: inline-block;

  position: absolute;
  top: 0;
  left: -8.75rem;
  z-index: -1;

  width: 18.75rem;
  height: 31.25rem;

  background-image: linear-gradient(
    45deg,
    var(--linear-start),
    var(--linear-end)
  );

  border-radius: 0 0 10rem 10rem;
}

.line-2 {
  display: none;
}

.load {
  position: absolute;
  inset: 0;
  z-index: 10000;

  height: 100%;
  width: 100%;

  background-color: var(--linear-end);
}

.main__title {
  font-size: clamp(2rem, 2vw + 1rem, 2.75rem);
  font-weight: var(--fw-500);
  color: var(--main-heading-color);

  margin-block-end: 1em;
}

.main__text {
  font-size: clamp(1rem, 0.5vw + 1rem, 1.125rem);
  color: var(--paragraph-color);
  line-height: 1.7;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
}

//============================
//          Phone
//============================

.phone {
  position: relative;

  width: 100%;
  max-width: 20rem;

  background-color: var(--white);
  border-radius: 1.875rem;
  box-shadow: 0 0 1.25rem 0.625rem rgba(0, 0, 0, 0.09);

  padding: 0.875rem;
  overflow: hidden;

  &::before {
    content: "";
    display: inline-block;

    position: absolute;
    top: 0.9375rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    width: 50%;
    height: 2.5rem;

    background-color: var(--white);
    border-bottom-left-radius: 0.9375rem;
    border-bottom-right-radius: 0.9375rem;
  }
}

.phone__heading {
  width: 100%;
  height: 5.3125rem;

  display: flex;
  align-items: center;

  background-image: linear-gradient(
    to right,
    var(--linear-start),
    var(--linear-end)
  );
  border-top-right-radius: 1.25rem;
  border-top-left-radius: 1.25rem;
  border-bottom-right-radius: 0.3125rem;
  border-bottom-left-radius: 0.3125rem;

  padding: 1.25rem 0.9375rem 0;
}

//=======================
//      Back Icons
//=======================

.back__icon {
  position: relative;

  margin-inline-end: 0.625em;

  cursor: pointer;
}

.back__icon::before,
.back__icon::after {
  content: "";
  display: inline-block;

  width: 0.625rem;
  height: 0.1875rem;

  background-color: var(--white);
  border-radius: 0.3125rem;
}

.phone__heading .back__icon::before {
  position: absolute;
  top: 0.3125rem;
  left: 0;
  transform: rotate(120deg);
}

.phone__heading .back__icon::after {
  transform: rotate(60deg);
}

.heading__profile {
  flex-grow: 1;

  display: flex;
  align-items: center;
  gap: 0.625em;

  cursor: pointer;

  & .profile__avatar {
    width: 2.1875rem;
    height: 2.1875rem;

    border: 0.125rem solid var(--white);
    border-radius: 50%;

    & img {
      width: 100%;
      height: 100%;

      aspect-ratio: 1;
      object-fit: cover;

      border-radius: 50%;
    }
  }

  & .profile__textbox .profile__name {
    font-size: 0.875rem;
    font-weight: var(--fw-500);
    color: var(--white);

    margin-block-end: 0.25rem;
  }

  & .profile__textbox .profile__text {
    font-size: 0.625rem;
    font-weight: var(--fw-500);
    color: var(--pale-violet);
  }
}

//=======================
//      Three Points
//=======================

.three-points {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.125rem;

  cursor: pointer;

  &::after,
  &::before {
    content: "";
    display: inline-block;

    width: 0.1875rem;
    height: 0.1875rem;

    background-color: var(--white);
    border-radius: 50%;
  }

  & .point {
    width: 0.1875rem;
    height: 0.1875rem;

    background-color: var(--white);
    border-radius: 50%;
  }
}

//================
//   Phone Main
//================

.phone__main {
  position: relative;

  width: 100%;
  height: calc(100% - 5.3125rem);

  display: flex;
  flex-direction: column;
  gap: 0.625rem;

  background-color: var(--app-background);
  border-bottom-left-radius: 1.25em;
  border-bottom-right-radius: 1.25em;

  padding: 0.875rem 0.625rem;
}

.msg {
  padding: 0.625em;

  border-radius: 0.9375rem;
}

.msg__text {
  font-size: 0.6875rem;
  font-weight: var(--fw-500);
  line-height: 1.4;
}

.left__msg {
  width: 100%;
  max-width: 10.9375rem;

  background-color: var(--chat-clr);
  border-bottom-left-radius: 0.3125rem;

  & .msg__text {
    color: var(--chat-left-color);
  }
}

.right__msg {
  position: relative;
  top: 0;
  left: 5.3125rem;

  width: 100%;
  max-width: 11.5625rem;

  background-color: var(--white);

  box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.05);
  border-bottom-right-radius: 0.3125rem;

  &.msg {
    padding: 0.75rem;
  }

  & .msg__text {
    color: var(--chat-right-color);
  }
}

.phone__main .right__msg2 {
  max-width: 6.875rem;
  left: 10rem;

  &.msg {
    padding: 0.625rem;
  }
}

.dog__img-container {
  position: relative;
  top: 0;
  left: 6.25rem;

  width: fit-content;

  display: flex;
  align-items: center;
  gap: 0.625rem;

  padding-block-start: 0.625rem;

  & img {
    width: 3.125rem;
    height: 3.125rem;

    aspect-ratio: 1;
    object-fit: cover;

    border-radius: 0.625rem;
  }
}

.cost {
  display: flex;
  align-items: center;
  gap: 0.625rem;

  width: 11.25rem;

  background-image: linear-gradient(
    to left,
    var(--linear-start),
    var(--linear-end)
  );
  border-radius: 0.75rem;
  border-bottom-left-radius: 0.3125rem;

  padding: 0.75em 1.25em 0.75em 0.75em;

  & .radio--btn {
    display: inline-block;

    width: 0.9375rem;
    height: 0.9375rem;

    border: 0.0625rem solid var(--radio-button-outline);
    border-radius: 50%;
  }

  & .msg__text {
    flex-grow: 1;

    font-size: 0.625rem;
    line-height: 1;
    color: var(--white);
  }

  & .price {
    font-size: 0.9375rem;
    font-weight: var(--fw-500);
    color: var(--white);
  }
}

//=========================
//      Message Input
//=========================

.phone__form {
  width: 100%;

  display: flex;
  align-items: center;

  background-color: var(--white);
  border-radius: 1.25rem;

  margin-block-start: 0.5rem;
  padding: 0.3125rem;

  & .phone__input {
    border: none;
    outline: none;
    appearance: none;

    flex-grow: 1;

    font-family: inherit;
    font-size: 0.75rem;

    padding: 0.3125rem 0.3125rem 0.3125rem 1.25em;

    &::placeholder {
      font-family: inherit;
      font-size: 0.75rem;
      color: var(--placeholder-text-color);
    }
  }

  & .input--btn {
    position: relative;

    border: none;
    outline: none;
    background-color: var(--submit-button);

    width: 1.875rem;
    height: 1.875rem;

    border-radius: 50%;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      display: inline-block;

      width: 0.75rem;
      height: 0.25rem;

      background-color: var(--white);
      border-radius: 0.3125rem;
    }

    &::before {
      position: absolute;
      top: 0.6875rem;
      left: 1rem;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      position: absolute;
      bottom: 0.5rem;
      left: 1rem;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

//=====================
//      Main Text
//=====================
.text-container {
  --max-width: 25rem;
  width: min(100%, var(--max-width));
  text-align: center;

  margin-inline: auto;
}

//=====================
//       Footer
//=====================

.attribution {
  text-align: center;
  margin-block-start: 2rem;

  & p {
    font-size: 1rem;
    color: var(--main-heading-color);
    & span {
      font-size: 1.75rem;
      color: var(--linear-end);
    }
  }

  & a {
    font-size: 1.25rem;
    color: var(--linear-end);
    line-height: 0.5;

    transition: text-decoration 250ms ease-out;

    &:is(:hover, :focus) {
      text-decoration: underline;
    }
  }
}

//=============================
//       Responsive 900px
//=============================

@media only screen and (min-width: 56.25rem) {
  body {
    display: grid;
    place-items: center;

    overflow: hidden;
  }

  .line {
    display: inline-block;

    position: absolute;
    top: 0;
    left: -15.625rem;
    z-index: -1;

    width: 34.375rem;
    height: 43.75rem;

    background-image: linear-gradient(
      45deg,
      var(--linear-start),
      var(--linear-end)
    );

    border-radius: 0 0 18rem 18rem;
  }

  .line-2 {
    display: inline-block;

    position: absolute;
    bottom: 0;
    right: -15.625rem;
    z-index: -1;

    width: 37.5rem;
    height: 43.75rem;

    background-color: hsl(var(--chat-clr-accent), 0.5);

    border-radius: 20rem 20rem 0 0;
  }

  .phone {
    max-width: 20.625rem;
  }

  .right__msg {
    left: 5.9375rem;
  }

  .phone__main .right__msg2 {
    left: 10.625rem;
  }

  .dog__img-container {
    left: 6.75rem;
  }

  .main-container {
    width: min(100%, var(--max-width));
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .text-container {
    --max-width: 31.25rem;
    text-align: left;
    width: min(100%, var(--max-width));
  }

  .attribution {
    margin-block-start: 0;
  }
}
